<html>
<head>
<style>
.footer{
    position:relative;
    bottom:0;
}
    hr{
        border:3px solid;
    }
    .fcon{
        /*margin-top:300px;*/
	    height:40vh;
        display:flex;
    }
    .fone{
        flex:1;
    }
    .ftwo{
        flex:2;
        margin-top:20px;
        display:flex;
    }
    .fthree{
        flex:1;
        margin-top:20px;
        display:flex;
    }
    .ffone{
        flex:1;
    }
    .fftwo{
        flex:1;
    }
	.ful{
    	list-style:none;
    	display:flex;
    	flex-direction:column;
    	height:50vh;
    	justify-content: center;
	}
	.fli a{
    	color: #000;
    	text-decoration:none;
	}
	.fli a:hover{
    	color: #ffcf0a;
    	text-decoration:none;
	}
	.ffone .fli{
    	font-size:30px;
    	margin: 15px;
	}
	.fftwo .fli{
    	font-size:20px;
    	margin: 6px;
    	margin-top:20px;
	}
	.ffthree .fli{
    	font-size:20px;
    	margin-right: 100px;
    	margin-top:20px;
	}
	.fhr{
	    margin:0;
	    box-shadow: 10px;
	}
	#iconp{
	    margin-right:10px;
	}
    #iconp:hover{
        color:#ffcf0a;
    }
    
</style>
</head>

<body>
<div class="footer">
<hr class="fhr">
    <div class="fcon">
        <div class="fone">
            <a href="/children/main" class=""><img src="/assets/logo.png" style="width:400px; margin:30px;"></img></a>
        </div>
        <div class="ftwo">
            <div class="ffone">
                <p class="fli"><a href="/kindergardens/search" style="font-family:'Black Han Sans', sans-serif;">어린이집 정보</a></p>
                <p class="fli"><a href= "/children/myChildren/0" style="font-family:'Black Han Sans', sans-serif;">내 아이 정보</a></p>
                <p class="fli"><a href="/users/sign_up" style="font-family:'Black Han Sans', sans-serif;">회원가입</a></p>
            </div>
            <div class="fftwo">
                <p class="fli"><a href="" style="cursor:default;">#안전한     #어린이집</a></p>
                <p class="fli"><a href="" style="cursor:default;">#안전한     #내아이</a></p>
                <p class="fli"><a href="" style="cursor:default;"> </a></p>
                <p class="fli"><a href="" style="cursor:default;">#외부 위험정보</a></p>
                <p class="fli"><a href="" style="cursor:default;">#내부 위험정보</a></p>
            </div>
            <div class="ffthree">
                <p class="fli"><a href="" style="font-family:'Black Han Sans', sans-serif;cursor:default;">아이포아이_likelion_6th</a></p>
                <p class="fli"><a href="" style="font-size:15px;cursor:default;">대구광역시 북구 대학로 80 경북대학교(대구캠퍼스) </a></p>
                <p class="fli"><a href="" style="font-size:15px;cursor:default;">EyeforI@google.com</a></p>
                <a style="font-size:30px;"><i style="cursor:pointer" id="iconp" class="fa fa-instagram"></i></a>   <a style="font-size:30px;"><i style="cursor:pointer" id="iconp" class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>