<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eyefori</title>
    <style>
        body{
            margin:0;
        }
        .main_wrap{
            height:500vh;
        }
        .a_one{
            background-color:#A6A6A6;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment:fixed;
            min-height:100vh;
        }
        h1{
            margin:0;
        }
        h5{
            font-family: 'Arita-dotum-Medium';
            margin:0;
        }
        .image_main {
        width:20px;
        height: auto;
        display: inline;
        } 
        .b_one{

        height:100vh;
        display:flex;
        background-color:#FFCF0A;
        }
        .b_wrap{
            position: sticky;
            top:0;
       }
       .c_wrap{
            position: sticky;
            top:0;
       }
        .c_one{
            background-color:#FFCF0A;
      height:100vh;
      display:flex;
 
        }
       .d_wrap{
            position: sticky;
            top:0;
       }
       .e_wrap{
            position: sticky;
            top:0;
       }
    .d_one{
            background-color:#FFCF0A;
      height:100vh;
      display:flex;

        }

      

    </style>
</head>
<body>

<%= render "header" %>
<section class="main_wrap">
    <section class="minseok">
    <div>
        <img class="minseok_img" src="/assets/Picture1.png"></im>
    </div>
    
    <container class="button_area">
        <a href="https://pf.kakao.com/_pxeDVj"  > <button style="cursor:pointer";>카카오톡 챗봇 바로가기</button> </a>
    </container>
</section>


   <div class="b_wrap">
        <section class="minseok2">
            <container>
                <div class="text">
                    <h1>내 손을 떠나 있는<br> 모든 시간을<br> 안전하게</h1>
                    <h5>아이포아이는 사랑하는 아이가 눈에 닿지 않는 곳에 있을 때<br>
        걱정되는 부모의 마음을 이해하는 것에서 시작합니다
                    </h5>
                </div>
                <div class="img">
                    <img src="/assets/Picture2"></img>
                </div>
            </container>
        </section>
   </div>
   
<div class="c_wrap">
        
    <section class="minseok3">
        <container>
            <div class="text">
                <h1>내 아이가 머물<br>안전한<br>어린이 집</h1>
                <h5>안전의 시작은 입학부터!<br>모든 정보를 
    꼼꼼히 확인할 수 있도록 <br> 아이포아이가 도와드립니다  
    
                </h5>
            </div>
            <div class="img">
                <img src="/assets/Picture3"></img>
            </div>
        </container>
    </section>

</div>
<div class="d_wrap">
        
    <section class="minseok4">
        <container>
            
            <div class="img">
                <img src="/assets/Picture4"></img>
            </div>
            <div class="text">
                <h1>집 도착하는<br>그 순간까지<br>안전하게!</h1>
                <h5>아이가 버스에서 타고 내리는 실시간 브리핑<br>
    서비스로 교통 안전 사고는 이제 그만!
                </h5>
            </div>
        </container>
    </section>
</div>

<div class="e_wrap">
    
    <section class="minseok5">
        <container>
            <div class="text">
                <h1>카카오 플러스 친구로<br>아이포아이의<br>모든 정보를!</h1>
                <h5>언제 무엇을 하고 있든 실시간으로 <br>
                정보를 받아볼 수 있습니다
                </h5>
            </div>
            <div class="img">
                <img src="/assets/Picture5"></img>
            </div>
        </container>
    </section>
</div>
</section>


<%= render "footer" %>
</body>
</html>