<section>
    <div>
        <form action="/rfid/board" style="display:flex;">
          <div class="form-group">
            <input name="input_rfid" type="text"  class="form-control" aria-describedby="emailHelp" placeholder="rfid" autofocus>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

